.p-header {
    background-color: #1A3B69;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.p-header h1, .p-header h1 a, .p-header h1 a:visited, .p-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

.menu a:hover {
    margin-left: 40px;
    text-align: center;
    text-decoration: none;
}


h1, h2 {
    font-family: 'Amarante', sans-serif;
}

h3, h4 {
    font-family: 'EB Garamond', sans-serif;
}

.date {
    float: right;
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 15pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #1A3B69;
    text-decoration: none;
}

p {
    font-family: 'Esteban', sans-serif;
    font-size: 15pt;
}